#nav {
display: block;
position: fixed;
width: 100%;
z-index: 99999;
transition: all ease .5s;
}

#logo {
color: #fff;
/*padding: 20px;*/
font-size: 18px;
transition: all ease .5s;
}
#logo a {
color: #fff !important;
}

#links {
/*position: absolute;*/
right: 0;
/*padding: 10px;*/
}


#nav.shrink {
height: 60px;
transition: all ease .5s;
background: rgba(0,0,0,.7);
}

/*#nav.shrink #logo {
padding: 10px;
transition: all ease .5s;
}
#nav.shrink #links {
padding: 10px;
transition: all ease .5s;
}*/


.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.form-control{

  width:100%
}






/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {




 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {



 }

 .container, .container-lg{

   padding-top: 100px;
   display: flex;
 }

 #logo.row {
   height: 50px;
 }
